In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
student={"name":["kallu","mallu","pallu","mannu"],"English":[42,52,53,54],"Physics":[52,53,54,65]}

In [4]:
df=pd.DataFrame(student)

In [5]:
df

    name  English  Physics
0  kallu       42       52
1  mallu       52       53
2  pallu       53       54
3  mannu       54       65

In [6]:
print(df.count())

name       4
English    4
Physics    4
dtype: int64

In [7]:
# quantile

A quantile is where a sample is divided into equal sized sub-groups.Quantile function returns the value at a given quantiles over the requested axis(0 or 1)

2 quantile-median
3 quantile-terciles
4 quantile-quartiles
8 quantiles -octiles
10 quantiles- deciles
100 quantiles- percentiles
1000 quantiles-permilles

In [8]:
df2=pd.DataFrame(np.array([[1,1],[2,10],[3,100],[4,1000]]),columns=["a","b"])

In [9]:
df2

   a     b
0  1     1
1  2    10
2  3   100
3  4  1000

In [10]:
print(df2.quantile([.1,.25,.5,.75], axis=0))

         a       b
0.10  1.30    3.70
0.25  1.75    7.75
0.50  2.50   55.00
0.75  3.25  325.00

In [11]:
print(df2.quantile([.1,.25,.5,.75], axis=1))

        0    1      2      3
0.10  1.0  2.8  12.70  103.6
0.25  1.0  4.0  27.25  253.0
0.50  1.0  6.0  51.50  502.0
0.75  1.0  8.0  75.75  751.0

axis 0 means columns, axis 1 means rows

In [12]:
print(df2.var(axis=1))

0         0.0
1        32.0
2      4704.5
3    496008.0
dtype: float64

In [13]:
print(df2.var(axis=0))

a         1.666667
b    233840.250000
dtype: float64

In [13]:
df2

   a     b
0  1     1
1  2    10
2  3   100
3  4  1000